/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

html {
    background-color: #f0f8ff;
}

.wrap-all {
    margin: 0;
    padding: 0;
    color: #111;
    background-color: #f0f8ff;
}

* {
    box-sizing: border-box;
}

.outer-wrap-header {
    height: 150px;
    margin-bottom: 12px;
}

.inner-wrap.inner-wrap-header {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

.row {
    display: block;
    width: 101.04166667%;
    margin-left: -.52083333%;
    margin-right: -.52083333%;
}

.region-header-col-1 {
    display: inline;
    float: left;
    width: 19.79166667%;
    margin-left: .52083333%;
    margin-right: .52083333%;
}

.site-logo-text {
    font-size: 42px;
    line-height: 1;
    text-shadow: 2px -2px 2px #ccc;
}

.site-logo {
    display: none;
}

.region-header-col-2 {
    display: inline;
    float: left;
    width: 57.29166667%;
    margin-left: .52083333%;
    margin-right: .52083333%;
}

.outer-wrap-flash {
    opacity: 0.8;
}
.rm-navbar {
    text-align: center;
    background-color: #f0f8ff;
    float: center;
    font-size: 25px;
    line-height: 1;
    text-shadow: 2px -2px 2px #ccc;
}

.rm-navbar li {
    display: inline-block;
    padding: 1em 1.5em;
}

.rm-navbar a {
    text-decoration: none;
}

.rm-navbar li:hover {
    background-color: #eee;
}

.rm-navbar li .selected {
    background-color: #eee;
}

.wrap-sidebar {
    display: inline;
    float: left;
    width: 65.625%;
    margin-right: .52083333%;
    margin-left: .52083333%
}

.right {
    float: right;
}

.inner-wrap {
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
}

.row {
    display: block;
    width: 101.04166667%;
    margin-left: -.52083333%;
    margin-right: -.52083333%;
}

.region-footer {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin-left: .52083333%;
    margin-right: .52083333%;
}

.outer-wrap-footer {
    background-color: #424242;
    padding-top: 24px;
    padding-bottom: 48px;
}

.footer-column-wrapper {
    color: #ddd;
    border-bottom: 1px solid #666;
    padding-bottom: 24px;
    margin-bottom: 48px;
}

.footer-column, .footer-column-x {
    height: 100%;
}

.footer-column {
    display: inline;
    float: left;
    width: 32.29166667%;
    margin-left: .52083333%;
    margin-right: .52083333%;
}
.footer-column-1, .footer-column-2 {
    border-right: 1px solid #666;
}

.footer-column-x {
    padding-bottom: 24px;
    padding-right: 1em;
}

.footer-column-2, .footer-column-3 {
    padding-left: 1em;
}

.footer-column-wrapper::after {
    content: "";
    display: block;
    clear: both;
}

.site-footer {
    color: #aaa;
    text-align: center;
    padding-bottom: 24px;
}

.byline img {
    float: left;
}

.me1 {
    width: 80px;
    border-radius: 10px;
}

.byline {
    display: block;
    padding: 1em 1em 2em;
    background-color: #f0f8ff;
    border-radius: 10px;
    border-top: 1px solid #9c9;
    border-bottom: 1px solid #9c9;
    clear: both;
}

.byline-text {
    display: block;
    padding-left: 20px;
    overflow: auto;
}
